body, html{
    background-color: #dddddd;
}

.card{
    background-color: #fafafa;
    min-height: 500px;
    border: 1px solid gray;
    margin: 8px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px gray;
}

.resultsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li{
    margin-top: 10px;
}

h2{
    font-weight: 800;
}

img{
    border-radius: 5px;
    max-width: 100%;
    max
}

.label{
    font-weight: 700;
}